h1{
	text-align:center;
	font-family:"Papyrus",Fantasy;
	font-size:30px;
	color:white;
}

body{
	background-color:#0d2901;
	background-image: url("BG7.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:right;
	float:left;
}

