h1{
text-shadow: 2px 2px green;
	text-align:center;
	font-family:"Papyrus",Fantasy;
	font-size:60px;
}

body{
	background-color:#84bc27;
	background-image: url("BG8.jpg");
	background-position:center;
	float:left;
	background-repeat: no-repeat;
}
