div{
  border:2px solid black;
  width: 200px;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
  margin: auto;
  border-radius: 8%;
	top:300px;
}
footer{
  position: absolute;
  bottom: 10%;
}
h1{
  text-align:center;
}
body{
	background-color:#e1f1d7;
	background-image: url("BG2_Edited.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:right;
	float:left;
}
